/*.trans {
    background: linear-gradient(#55FFFF, #FADBEB, #FFFFFF, #FADBEB, #55FFFF);
}

.nb {*/
    /*background: linear-gradient(#FFF430, white, #9C59D1, #000000);*/
    /*background: linear-gradient(#FFF652, white, #BE7BF3, #222222);
}

.bi {*/
    /*background: linear-gradient(#d00070, #d00070, #8c4799, #0032a0, #0032a0);*/
    /*background: linear-gradient(#F22292, #F22292, #AE69BB, #2254C2, #2254C2);*/  /*A bit lighter than the actual version*/
/*}

.ace {*/
    /*background: linear-gradient(black, #A4A4A4, white, #810081);*/
    /*background: linear-gradient(#222222, #C6C6C6, white, #A322A3);
}

.aro {*/
    /*background: linear-gradient(#3AA63F, #A8D47A, white, #AAAAAA, black);*/
    /*background: linear-gradient(#5CC85F, #CAF69C, white, #CCCCCC, #222222);
}*/

.queer {
    /*    background: linear-gradient(black, );*/
    /*    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
    background: linear-gradient(
                    black,
                    rgba(169,214,238,1),
                    rgba(71,162,230,1),
                    rgba(193,226,82,1),
                    white,
                    rgba(243,204,71,1),
                    rgba(232,113,102,1),
                    rgba(240,177,203,1),
                    black
    );
}

.column {
    float: left;
    width: 50%;
}

.food_column{
    float: left;
    width: 25%;
}

.clear{
    clear: both;
}

#ingredients {
    width: 40%;
}

#prep {
    width: 60%;
    line-height: 1.2;
}

img.resize {
  max-width:25%;
  max-height:25%;
}

body {
    font-size: 1.05em;
    font-family: 'Power Red and Green';
/*    font-family: 'Power Green';
    font-family: 'Power Red and Blue';*/
}