body {
    /*background: linear-gradient(#55FFFF, #FADBEB, #FFFFFF, #FADBEB, #55FFFF);*/

    /*fonts*/
    font-size: 1.05em;
    /*font-family: 'Power Green';*/
    /*font-family: 'Power Red and Blue';*/
    font-family: 'Power Red and Green';
    /*font-size: 1em;*/
}

.trans {
    background: linear-gradient(#55FFFF, #FADBEB, #FFFFFF, #FADBEB, #55FFFF);
}

.nb {
    /*background: linear-gradient(#FFF430, white, #9C59D1, #000000);*/
    background: linear-gradient(#FFF652, white, #BE7BF3, #222222);
}

.bi {
    /*background: linear-gradient(#d00070, #d00070, #8c4799, #0032a0, #0032a0);*/
    background: linear-gradient(#F22292, #F22292, #AE69BB, #2254C2, #2254C2);  /*A bit lighter than the actual version*/
}

.ace {
    /*background: linear-gradient(black, #A4A4A4, white, #810081);*/
    background: linear-gradient(#222222, #C6C6C6, white, #A322A3);
}

.aro {
    /*background: linear-gradient(#3AA63F, #A8D47A, white, #AAAAAA, black);*/
    background: linear-gradient(#5CC85F, #CAF69C, white, #CCCCCC, #222222);
}

div {
    /*debugging*/
    /*background-color: aqua;*/
    /*width: 50%;*/
}

h1 {
    /*background-color: blueviolet;*/
}

.multi {
    /*column-count: 2;*/
    /*column-width: 15em;*/
}

.column {
    float: left;
    width: 50%;
}

.food_column{
    float:  left;
    width: 25%;
}

.clear{
    clear: both;
}

#ingredients {
    /*float: left;*/
    /*background:  mediumseagreen;*/
    width: 40%;
}

#prep {
    /*padding-left: 6em;
    width: 90%;*/
    /*background: radial-gradient(black, grey, white, purple);*/
    width: 60%;
}

img.resize {
  max-width:25%;
  max-height:25%;
}
